.navbar{
    background:#2563eb;
    color:white;
    padding:18px 0;
}

.nav-container{
    width:90%;
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    font-weight:600;
}

.nav-links a:hover{
    color:#ffe082;
}